body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
h1{
    text-align: center;
    font-family: cursive;
    font-size: 3rem;
}
#container{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    margin-left: 5rem;
}
input{
    width: auto;
    height: 2rem;
    margin: 1rem;
    border: 2px solid #ababab;
    border-radius: 5px;
    text-align: center;
    font-family: cursive;
    font-size: 1rem;
}
button{
    height: 2rem;
    border: 1px solid #888585;
    border-radius: 10px;
    font-family: cursive;
}
p{
    font-size: 1.5rem;
    font-family: cursive;
    margin-left: 3rem;
}
ul{
    margin: 2rem;
}
ul li {
    margin: 0.3rem;
    font-family: cursive;
    font-size: 1.5rem;
}
.d-none{
    display: none;
}

